name: Trigger Docusaurus Update

on:
  push:
    branches:
      - main  # Adjust this to the branch where new docs are added

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Notify Docusaurus Repo
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}  # Personal Access Token (with repo scope) for the Docusaurus Repo
          repository: VolodymyrZolotukhin/docusaurus-test
          event-type: update-docusaurus
